@font-face {
    font-family: "Mulish";
    src: url("/res/font/Mulish/Mulish-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Mulish";
    font-style: italic;
    src: url("/res/font/Mulish/Mulish-Italic-VariableFont_wght.ttf");
}

body {
    font-family: "Mulish", "Helvetica", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Times New Roman", "Times", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: whitesmoke;
}



.flex {
    display: flex;
}

.standard-padding {
    box-sizing: border-box;
    padding: 18pt;
}

.flex.ltr {
    flex-direction: row;
    justify-content: center;
}

.flex.ltr.list * {
    padding-right: 6pt;
    flex-wrap: wrap;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.flex.bottom {
    justify-content: center;
    align-items: end;
}

.flex.top {
    justify-content: center;
    align-items: start;
}

.white {
    color: white;
}

span {
    font-size: 13pt;
}

b {
    font-weight: 700;
}